*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, arial, sans-serif;
    text-decoration: none;
    min-height: 140vh;
    background: #f1f3f6;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.fa{
    margin: 0px 4px;
}

.fa-user{
    border-radius: 50%;
}

/* Navbar */

.heading-navigation{
    background-color: #2874f0;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-container{
    align-items: center;
    max-width: 1248px;
    margin: auto;
    width: 100%;
    position: relative;
    left: 61px;
}

.logo{
    flex-direction: column;
    width: fit-content;
}

.anchor{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    font-style: italic;
    margin-top: -5px;
}

.flip-logo img{
    width: 75px;
}

.anchor:hover{
    text-decoration: underline;
}

.anchor img{
    width: 10px;
}

.plus{
    color: #ffe500;
    margin: 0px 2px;
    font-weight: bold;
}

.search-bar-container{
    min-width: 304px;
    width: 708px;
}

.search-bar{
    max-width: 564px;
    width: 100%;
    margin-left: 10px;
    box-shadow: 0px 2px 4px 0 rgb(0 0 0 /23%);
}

.search-box{
    outline: none;
    padding: 0px 16px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    width: 100%;
    font-size: 14px;
}

.btn-search{
    background: #fff;
    border: 1px solid #fff;
    padding: 4px 12px 4px 8px;
    width: 44px;
    height: 36px;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    color: #2874f0;
    font-size: 19px;
}

.login{
    position: relative;
    /* left: 45px; */
}

.login-btn{
    color: #2874f0;
    border: 1px sloid #dbdbdb;
    border-radius: 2px;
    background: #fff;
    letter-spacing: 1px;
    height: 32px;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.sell, .more, .cart{
    position: relative;
    /* left: 45px; */
}

.sell-lan, .more-lan, .cart-lan{
    color: #fff;
    font-weight: bold;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 16px;
}

.heading-categories{
    background: #fff;
    justify-content: center;
    min-height: 112px;
    border-bottom: 2px solid lightgray;
}

.heading-category-list{
    list-style: none;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
}

.heading-category-items{
    padding: 12px 8px;
    cursor: pointer;
    text-align: center;
}

.heading-category-items:hover{
    color: #2874f0;
}

.cat-image{
    height: 64px;
    width: 64px;
    margin-bottom: 3px;
}

.heading-item-name{
    font-size: 14px;
    font-weight: 550;
}

.heading-category-items:first-child{
    padding-left: 22px;
}

.heading-category-items:last-child{
    padding-right: 22px;
}

.pointer{
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    position: relative;
    top: 10px;
    left: 50%;
}

.login-dropdown, .more-dropdown{
    position: relative;
    top: 12px;
}

.more-dropdown{
    right: 40px;
}

.login-dropdown-list, .more-dropdown-list{
    position: absolute;
    list-style: none;
    background-color: #fff;
    width: max-content;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
    min-width: 240px;
    transform: translate(-30px);
}

.login-drop-li , .more-drop-li{
    padding: 16px 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    cursor: pointer;
}

.login-drop-li:last-child, .more-drop-li:last-child{
    border-bottom: none;
}

.login-drop-li:first-child{
    padding: 20px;
}

.login-drop-li:first-child:hover{
    background: #fff;
}

.login-drop-li:hover, .more-drop-li:hover{
    background: #fafafa;
}

.new-login{
    font-weight: bold;
}

.sign-li{
    justify-content: space-between;
    font-size: 14px;
}

.sign-up{
    text-decoration: none;
    color: #2874f0;
}

.more:hover .more-lan{
    position: relative;
    top: 10px;
}

.more-pointer{
    left: 80%;
}

.more-icon{
    width: 25px;
    color: #2874f1;
}

.login:hover .login-dropdown, .more:hover .more-dropdown{
    display: block;
}

.nav-button{
    position: absolute;
}

.caraousel-btn{
    position: relative;
    border-radius: 0px 4px 4px 0px;
    font-size: 40px;
    background: hsla(0, 0%, 100%, .98);
    width: 47px;
    height: 104px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 /11%);
    cursor: pointer;
    top: 90px;
}

.prev-btn{
    left: 0;
    margin-left: 8px;
}

.next-prev{
    font-weight: bold;
}

.caraousel-2{
    border-radius: 4px 0px 0px 4px;
}

.next-btn{
    right: 0;
    margin-right: 8px;
}

.caraousel-item-container{
    margin: auto;
    max-width: 1608px;
    min-width: 978px;
    overflow-x: hidden;
    padding-top: 10px;
}

.caraousel-items{
    width: 100%;
}

.caraousel-image{
    width: 100%;
    height: 280px;
    padding: 8px;
}